#btn {
    outline: none;
    
}
#btn:hover{
    background-color: rgb(16, 16, 206);
}
#openModal{
    outline: none;
    
}
#openModal:hover{
    background-color: rgb(16, 16, 206);
}
input{
    outline: none;
}

#cadastrar:hover{
    color: gray;
    
}

#voltar{
    width: 15px;
    height: 15px;
}

#voltar:hover{
    border:2px solid white;
    transition: 0.3s;
}